body
{ background-image:url(images/Naamloze-tekening.jpg);
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#wrapper {
    height: auto;
    width: 1200px;
    margin: auto;
  }
  #eten{
    height: 100px;
    width: 1200px;
    float: left;
  }
  #eten h1{
text-align: center;
  }
  #eten p{
    text-align: center;
      }
  #bulk{
    height: 500px;
    width: 400px;
    float:left;
  }
  #bulk img{
    width: 200px;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;

  }
  #bulk h1{
    text-align: center;
  }
  #cut{
    height: 500px;
    width: 400px;
    padding: 10px;
    float: right ;
  }
  #cut img{
    width: 200px;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #cut h1{
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: gold;
  }