body
{ background-image:url(images/Naamloze-tekening.jpg);
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#wrapper {
    height: auto;
    width: 1200px;
    margin: auto;
  }
  #eten{
    height: 100px;
    width: 1200px;
    float: left;
  }
  #eten h1{
text-align: center;
  }
  #eten p{
    text-align: center;
      }
  #bulk{
    height: 500px;
    width: 400px;
    float:left;
  }
  #bulk img{
    width: 200px;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;

  }
  #bulk h1{
    text-align: center;
  }
  #cut{
    height: 500px;
    width: 400px;
    padding: 10px;
    float: right ;
  }
  #cut img{
    width: 200px;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #cut h1{
    text-align: center;
  }