body 
  #titel-hoezelfsterk{
    width: 800px;
    height: 50px;
    float: left;
  }
  #titel-hoezelfsterk h1{
    text-align: center;
  }
  #foto1-hoezelfsterk{
    width: 200px;
    height: 200px;
    float: left;
  }
  #foto1-hoezelfsterk img{
    width: 200px;
    height: 200px;
    float: left;
  }
  #foto-hoezelfsterk{
    width: 200px;
    height: 200px;
    float: left;
  }
  #foto-hoezelfsterk img{
    width: 200px;
    height: 200px;
    float: left;
  }
  #foto-link-eten{
    width: 400px;
    height: 450px;
    float: left;
  }
  #foto-link-eten p{
   text-align: center;
  }
  #foto-link-eten img{
    width: 400px;
    height: 450px;
    float: left;
  }
  #oefeningen{
    width: 300px;
    height: 50px;
    background-color: yellow;
    float: right;
  }
  #oefeningen p{
   text-align: center;
  }
  #wrapper {
    height: auto;
    width: 1200px;
    margin: auto;
  }