body
{
  margin: 0px;
  background-image:url(images/Naamloze-tekening.jpg);
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  #titel-hoezelfsterk{
    width: 800px;
    height: 50px;
    float: left;
  }
  #titel-hoezelfsterk h1{
    text-align: center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
  #foto1-hoezelfsterk{
    width: 200px;
    height: 200px;
    float: left;
  }
  #foto1-hoezelfsterk img{
    width: 200px;
    height: 200px;
    float: left;
  }
  #foto-hoezelfsterk{
    width: 200px;
    height: 200px;
    float: left;
  }
  #foto-hoezelfsterk img{
    width: 200px;
    height: 200px;
    float: left;
  }
  #foto-link-eten{
    width: 400px;
    height: 450px;
    float: left;
  }
  #foto-link-eten p{
    font-family: Helvetica, Arial, sans-serif;
   text-align: center;
   color: white;
  }
  #foto-link-eten img{
    width: 400px;
    height: 450px;
    float: left;
  }
  #oefeningen{
    width: 300px;
    height: 50px;
    float: right;
  }
  #oefeningen h1{
   text-align: center;
   color: white;
   font-family: Helvetica, Arial, sans-serif;
  }
  #oefeningen p{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
   }
   #oefeningen tr{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    border-color: white;
   }


  #wrapper {
    height: auto;
    width: 1200px;
    margin: auto;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: gold;
  }