body {
  margin: 0px;
  background-image:url(images/image.jpg);
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  
  }
#soorten-fitness{
    width: 1200px;
    height: 75px;
    float: left;
    color: white;
}
  #calisthenics {
    width: 388px;
    height: 587px;
    margin: 5px;
    float: left;
    border: 1px solid white;
  }
    #calisthenics h1{
 color: white;
 text-align: center;
 font-family: Helvetica, Arial, sans-serif;
  

  }
    #calisthenics img {
width: 280px;
height: 250px;
margin-left: 54px;
margin-right: 54px;
margin-bottom: 10px; 
    }
    #calisthenics p{
        color: aliceblue;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
    }
  
  #krachttraining {
    width: 388px;
    height: 587px;
    margin: 5px;
    float: left;
    border: 1px solid white;
  }
  #krachttraining img{
    width: 250px;
    height: 250px;
    margin-left: 69px;
    margin-right: 69px;
  }
  #krachttraining h1{
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  #krachttraining p{
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  #powerlifting {
    width: 388px;
    height: 587px;
    margin: 5px;
    float: left;
    border: 1px solid white;
  }
  #powerlifting img {
    height: 250px;
    width: 320px;
    margin-left: 34px;
    margin-right: 34px;
  }
  #powerlifting p{
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  #powerlifting h1{
    color: white;
    text-align: center;
  }

  #wrapper {
    height: auto;
    width: 1200px;
    margin: auto;
    background-color: blue;
  }
  #soorten-fitness h1{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: gold;
  }